html {
  font-size: 1px;
}

a {
  font-weight: 400;
  text-decoration: inherit;
  color: inherit;
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  flex-direction: column;
  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#app, body {
  display: flex;
  height: 100%;
  width: 100%;
  flex: 1 1;
  flex-direction: column;
  min-height: 100dvh;
  color: hsl(0deg, 100%, 100%);
  background: hsl(240deg, 0%, 15%);
  
}